<div class="back-ground">
    <div class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover">
                <h1 class="cover-heading">Learn Foods name.</h1>
                <p class="lead">Let's we learn foods name!!</p>
                <p class="lead">
                    <%= link_to "Join us", signup_path, class:"btn btn-lg btn-secondary"%>

                </p>
            </main>
        </div>
    </div>
</div>