<footer class="border-top p-3">
    <div class="container">
        <small class="float-left d-inline-block">AwesomeBlog Application &copy; Byungsoo.Lee </small>

        <ul class="float-right">
            <li class="d-inline-block">
                <small>
                    <a class="text-muted" href="/">Home</a>
                </small>
            </li>
            <li class="d-inline-block">
                <small>
                    <a class="text-muted" href="/about">About</a>
                </small>
                <li class="d-inline-block">
                <small>
                    <a class="text-muted" href="/about">Login</a>
                </small>
                </li>
                <li class="d-inline-block">
                <small>
                    <a class="text-muted" href="/about">Signup</a>
                </small>
                </li>
            </li>
        </ul>
    </div>
</footer>