<nav>
    <div class="main">
        <div class="logo">
            <h1>Byungsoo.Lee</h1>
            </div>
            <ul>
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">Log-in</a></li>
                <li><a href="#">Sign-up</a></li>
            </ul>
</nav>